<!DOCTYPE html>
<html lang="en" >

<head>
    {% load static %}
  <meta charset="UTF-8">
  <title>Pure CSS File Upload Field</title>


      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      <link rel="stylesheet"  href="{%static 'net_profit/style.css' %}" type="text/css">


</head>

<body>
  <h1> Amazon Price Analytics</h1>
  <div class="container">
      <form class="form" method="post" id="form" enctype ="multipart/form-data">
        {% csrf_token %}
                <div class="file-upload-wrapper" data-text="Select your Amazon report." >
                  <input name="file_1" type="file" class="file-upload-field" value="">
                </div>
                <br>
                <div class="file-upload-wrapper" data-text="Select your price list.">
                  <input name="file_2" type="file" class="file-upload-field" value="">
                </div>
                <br>
                <a href="#" onclick="document.getElementById('form').submit();" class="action-button shadow animate blue">Fetch Reports</a>

          {% if show_download %}
                    <br>
        <a href="download-report/"  class="action-button shadow animate blue">Download Summary.</a>
           <br>
          <a href="download-profit-data/"  class="action-button shadow animate blue">Download Profit.</a>
           <br>
      {% endif %}
      </form>

</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{%static 'net_profit/index.js' %}"></script>

</body>

</html>