
<html>
<head>
    {% load static %}
  <link rel="stylesheet" href="{%static 'net_profit/style.css' %}" type="text/css">
</head>
<header>MINIMALISTIC FORM</header>

<form id="form" class="topBefore" method="post">
            {% csrf_token %}
		  <input id="name" type="text" placeholder="NAME">
		  <input id="email" type="text" placeholder="E-MAIL">
          <input type="file" name="file">

  <input id="submit" type="submit" value="UPLOAD AMAZON REPORTS!">

</form>
</html>